
*.txt
*.bin
Data
Images/Detections
*.pt
*.npz
.DS_Store
__pycache__/config.cpython-36.pyc
__pycache__/early_stopping.cpython-36.pyc
__pycache__/kitti_utils.cpython-36.pyc
__pycache__/load_data.cpython-36.pyc
__pycache__/PIXOR_Net.cpython-36.pyc
__pycache__/show_gt.cpython-36.pyc
Metrics/.DS_Store
Models/.DS_Store
